/.pytest_cache/
/app_resources/data/demorphy/demoprhy_dict.pkl
/app_resources/data/demorphy/demorpy_dict.txt
/app_resources/data/demorphy/demorphy_dict.pkl
/app_resources/data/demorphy/DE_morph_dict.txt
/app_resources/data/demorphy/demorphy_dict.txt
/app_resources/data/demorphy/demoprhy_dict.pkl
/app_resources/data/demorphy/demorpy_dict.txt
/app_resources/data/merlin_corpus/merlin_corpus.db
