/.pytest_cache/
/app_resources/data/morpho_dict/demoprhy_dict.pkl
/app_resources/data/morpho_dict/demorpy_dict.txt
/app_resources/data/morpho_dict/demorphy_dict.pkl
/app_resources/data/morpho_dict/DE_morph_dict.txt
/app_resources/data/morpho_dict/demorphy_dict.txt
